body{
  background-color: black;
  color: aliceblue;
  overflow: hidden;
}
h1{
  text-align: center;
}
.todo-wrapper{
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 30vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);  
}
.todo-input{
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px solid gray;
padding-bottom: 25px;
margin-bottom: 25px;
}
.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}
.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-input-item input{
  padding: 15px;
  /* border: none; */
  width: 250px;
}
.todo-input-item input:focus{
  outline: none;
  border: 3px solid rgb(0,230,122);
}
.primaryBtn{
  background-color: rgb(0,230,122);
  color: black;
  border: none;
  border-radius: 3px;
  margin-top: 31px;
  padding: 15px;
  width: 60px;
  cursor: pointer;
  margin-left: 40px;
}
.primaryBtn:hover{
  background-color: rgb(4,296,196);
}
.secondaryBtn{
  background-color: rgb(71,71,71);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}
.active{
  background-color: rgb(0,230,122);
}
.todo-list{
  display: flex;
  flex-direction: column;
}
.btn-area{
  margin-bottom: 15px;
}
.todo-list-item{
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.todo-list-item h3{
  font-size: 14px;
  color: rgb(161,161,161);
  margin: 8px;
}
.icon{
  font-size: 35px;
  cursor: pointer;
}
.check-icon{
  font-size: 25px;
  margin-left: 10px;
  color: rgb(0,230,122);
}
.check-icon{
  
} 
